*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin: 0;
}

/* Header */
.style .cabeza{
    background-color: #ffc300;
    height: 5vh;
    border: #ffc300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.style .cabeza #name{
    display: flex;
    align-content: center;
}

.style .cabeza #name #nombre{
    align-self: center;
    padding-left: 14px;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: bold;
    color: black;
    text-decoration: none;

}

.style .cabeza #name #oprimir_logo{
    display: flex;
}
.style #Logo{
    padding-left: 5px;
    height: 28px;
}
.style .cabeza #buscar{
    display: block;
    position: relative;
    width: 150px;
    height: 25px;
}

.style .cabeza #buscar #search{
    position: absolute;
    background: #D9D9D9;
    width: 150px;
    height: 25px;
    border-radius: 22px;
    border-style: none;
    padding-left: 8px;
    
}


.style .cabeza #buscar #buscador{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
    border-radius: 0px 22px 22px 0px;
    background: #A3A3A3;
    opacity: 0.7;

}
.style .cabeza #buscar #buscador #lupita{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.style .cabeza #boton_inicio{
    display: inline-block;
}

.style .cabeza #boton_inicio #login{
    margin: 5px;
    max-width: 35px;
}

/* Toda la seccion del medio*/

.inicio{
    color: #ffc300;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height: 85vh;
    width: 100%;
    background-image: url(imgs/Desktop-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio #ContInicio{
    border-radius: 20px;
    border-color: #ffffff;

}

/* Logo y Marca */
.inicio #marca{
    position: relative;
    align-self: center;
    text-align: center;
    color: black;
    margin-right: 350px;
    margin-bottom: 210px;
    font-size: 20px;

    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25)  ;
}

.inicio #marca #imagen{
    max-width: 120px;
    position: relative;
    
}


/* Contenedor Login*/
.inicio .contenedor {
    position: relative;
    align-self: center; 
    margin-left: 70px;

}
/* Contenedor del formulario */
.inicio .contenedor .form{
    display: flex;
    flex-direction: column;
}

.inicio .contenedor .form #mail, #contraseña{

    width: 280px;
    height: 40px;
    border-radius: 34px;
    border-style: none;   
    text-indent: 50px;

}

/* E-mail*/
.inicio .contenedor .form #mail{
    background-image: url(./imgs/Imagen_mail.svg);
    background-size: 31px 28px;
    background-repeat: no-repeat;
    background-position:  10px center;
}





/* Enviar Button*/
.inicio .contenedor .form #Enviar{
    position: relative;
    top: 115px;
    margin-left: 380px;
    width: 280px;
    height: 40px;
    background: #FFC300;
    box-shadow: 0px 8px 8px 2px rgba(255, 195, 0, 0.4);
    border-radius: 34px;
    border-style: none;
    font-size: 22px;
    
}

.inicio .contenedor .form #Enviar:hover{
    opacity: 0.9;
    cursor: pointer;
}


/* Footer*/

#footer {
    height: 10vh;
    background-color: #ffc300;
}

.seguir_redes{
    color: #ffc300;
    margin-left: 5px;
    text-align: left;

}
.redes_sociales {
    display: flex;
    column-gap: 20px;
}
.iconos{
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid  #fff;
    transition-duration: .30s;
}
.iconos:hover {
    outline-offset: 4px;
}

.icon-instagram:hover {
    background-image:
    radial-gradient(circle at 30% 107%,
    #fdf497 0%, #fdf497 5%,#fd5949 45%,
    #d6249f 60%, #285AEB 90%);
    outline-color: #a02d76;
}
.icon-twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
.icon-facebook:hover{
    background-color: #285AEB;
    outline-color: #285AEB;
}
.icon-youtube:hover{
    background-color: rgb(255, 41, 41);
    outline-color: rgb(255, 41, 41);
}


/*Responsive*/
@media screen and (max-width:1000px) {
    
    .style .cabeza #name #nombre{
        display: none;
    }
    .style #oprimir_logo{
        height: 35px;
    }
    .style #Logo{
        margin: auto;
        height: 35px;
        padding-left: 2px;
        
    }
    .inicio{
        justify-content: center;
    }
    .inicio #marca{
        display: none;
    }
    .inicio .contenedor{
        margin: auto;
    }
    .inicio .contenedor .form{
        text-align: center;
        
        
    }
    .inicio .contenedor .form #mail, #contraseña{
        width: 200px;
        margin: auto;
    }
    .inicio .contenedor .form .boton_check{
        margin: auto;
    }
    .inicio .contenedor .form #Enviar{
        top: 10px;
        margin-left: 0px;
        width: 240px;
    }
    #footer{
        text-align: center;
    }
    .seguir_redes{
        text-align: center;
    }
    .redes_sociales{
        justify-content: center;
    }


}