*{
    font-family: 'Archivo', sans-serif;
    margin: 0;
}


.style .cabeza{
    background-color: #ffc300;
    height: 5vh;
    border: #ffc300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.style .cabeza #name{
    display: flex;
    align-content: center;
}

.style .cabeza #name #nombre{
    padding-left: 14px;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background: url(https://img.freepik.com/vector-premium/fondo-rayas-diagonales-negras-amarillas-textura-grunge-advertir-precaucion_131186-1501.jpg?w=740);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 12s linear infinite;

}
@keyframes text {
    from { background-position: 0% 50%; }
    to { background-position: 100% 100%; }
}
.style #Logo{
    margin-left: 14px;
    height: 28px;
}
.style .cabeza #buscar{
    display: block;
    position: relative;
    width: 150px;
    height: 25px;
}

.style .cabeza #buscar #search{
    position: absolute;
    background: #D9D9D9;
    width: 150px;
    height: 25px;
    border-radius: 22px;
    border-style: none;
    padding-left: 8px;
    
}


.style .cabeza #buscar #buscador{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
    border-radius: 0px 22px 22px 0px;
    background: #A3A3A3;
    opacity: 0.7;

}
.style .cabeza #buscar #buscador #lupita{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.style .cabeza #boton_inicio{
    display: inline-block;
}

.style .cabeza #boton_inicio #login{
    margin: 5px;
    max-width: 35px;
}



.inicio{
    color: #ffc300;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 85vh;
    width: 100%;
    background-image: url(imgs/Desktop-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio #ContInicio{
    border-radius: 20px;
    border-color: #ffffff;

}

.inicio #marca{
    position: relative;
    
    justify-self: flex-end;
}

.inicio #marca #imagen{
    max-width: 100px;
    position: relative;
    
}

.inicio .contenedor {
    position: relative;
    align-self: center; 
    justify-self: flex-start; 
}

.inicio .contenedor .form #mail, #contraseña{
    margin: 5px;
    width: 180px;
    height: 20px;
    border-radius: 34px;
    border-style: none;   
    text-indent: 30px;

}

.inicio .contenedor .form #e-mail{
    display: inline;
}

.inicio .contenedor .form #imagen_mail{
    position: absolute;
    height: 18px;
    width: 18px;
    margin-top: 7px;
    margin-left: 12px;
    opacity: 0.5;

}

.inicio .contenedor .form #Enviar{
    position: relative;
    left: 200px;
    width: 150px;
    height: 30px;
    background: #FFC300;
    box-shadow: 0px 8px 8px 2px rgba(255, 195, 0, 0.4);
    border-radius: 34px;
    border-style: none;
}
.inicio .contenedor .form #Enviar:hover{
    opacity: 0.9;
    cursor: pointer;
}

#footer {
    height: 10vh;
    background-image: url(https://i.pinimg.com/originals/0c/bf/2f/0cbf2f5c3fb37d033c0bc791ae196dbb.gif)
}

#Redes{
    color: #ffc300;
    margin-left: 5px;
    text-align: left;

}
.Redes_Sociales .Logo{
    margin: 5px;
    max-width: 35px;
    justify-content: space-evenly;
    
} 