*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.body{
    background-color: rgb(26, 25, 25);
}
.style{
    position: sticky;
    z-index: 150;
    top: 0;
}
.style .cabeza{
    background-color: #ffc300;
    height: 5vh;
    border: #ffc300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.style .cabeza #name{
    display: flex;
    align-content: center;
}

.style .cabeza #name #nombre{
    align-self: center;
    padding-left: 14px;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: bold;
    color: black;
    text-decoration: none;


}

.style .cabeza #name #oprimir_logo{
    display: flex;
}
.style #Logo{
    padding-left: 5px;
    height: 28px;
}

.style .cabeza #boton_inicio{
    display: inline-block;
}

.style .cabeza #boton_inicio #login{
    margin: 5px;
    max-width: 35px;
}
.formulario{
    height: 85vh;
    background-color: rgb(26, 25, 25);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.formulario .confirmada {    
    width: 300px;
    display:flex;
    flex-direction: column;
}

.formulario .confirmada .image {
    width: 100px;
    padding: 10px;
    padding-left: 70px;
    padding-top: 50px;
    animation: shake 4.5s;
    animation-iteration-count: infinite;  
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.formulario .confirmada .text {
    font-size: 20px;
    color: white;
    padding-top: 20px;
}
.formulario .bottones {
    display: flex;
    column-gap: 100px;
    padding-right: 50px;
}
.formulario .bottones  #Menu  {
    background-color:#ffc300;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 8px 2px rgba(253, 221, 114, 0.4);
}

.formulario .bottones #Ir_Historial  {
    background-color: #ffc300;
    width: 150px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 8px 2px rgba(253, 221, 114, 0.4);
}
.formulario .bottones  #Menu:hover{
    opacity: 0.9;
    cursor: pointer;
}
.formulario .bottones #Ir_Historial:hover{
    opacity: 0.9;
    cursor: pointer;
}

/* Redes Sociales*/

#footer {
    background-color: #ffc300;
}

.seguir_redes{
    color: black;
    margin-left: 5px;
    text-align: left;

}
.redes_sociales {
    display: flex;
    column-gap: 20px;
}
.iconos{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid  #ffc300; 
    transition-duration: .30s;
    margin: 5px;
    background-color: #ffc300;
}

.iconos:hover {
    outline-offset: 4px;
}

.icon-instagram:hover {
    background-image:
    radial-gradient(circle at 30% 107%,
    #fdf497 0%, #fdf497 5%,#fd5949 45%,
    #d6249f 60%, #285AEB 90%);
    outline-color: #a02d76;
}
.icon-twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
.icon-facebook:hover{
    background-color: #285AEB;
    outline-color: #285AEB;
}
.icon-youtube:hover{
    background-color: rgb(255, 41, 41);
    outline-color: rgb(255, 41, 41);
}

/*Responsive*/
@media screen and (max-width:1000px) {
    
    .style .cabeza #name #nombre{
        display: none;
    }
    .style #oprimir_logo{
        height: 35px;
    }
    .style #Logo{
        margin: auto;
        height: 35px;
        padding-left: 2px;
        
    }
    .inicio{
        justify-content: center;
    }
    .inicio #marca{
        display: none;
    }
    .inicio .contenedor{
        margin: auto;
    }
    .inicio .contenedor .form{
        text-align: center;
        
        
    }
    .contenedor_2{
      justify-content: center;

    }
    .inicio .contenedor .form #mail, #contraseña{
        width: 200px;
        margin: auto;
    }
    .inicio .contenedor .form .boton_check{
        margin: auto;
    }
    .inicio .contenedor .form #Enviar{
        top: 10px;
        margin-left: 0px;
        width: 240px;
    }
    #footer{
        text-align: center;
    }
    .seguir_redes{
        text-align: center;
    }
    .redes_sociales{
        justify-content: center;
    }
}
