*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    
}
body{
    background-color: #000;
}

/* Header */
.style .cabeza{
    background-color: #ffc300;
    height: 5vh;
    border: #ffc300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.style .cabeza #name{
    display: flex;
    align-content: center;
}

.style .cabeza #name #nombre{
    align-self: center;
    padding-left: 14px;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: bold;
    color: black;
    text-decoration: none;

}

.style .cabeza #name #oprimir_logo{
    display: flex;
}
.style #Logo{
    padding-left: 5px;
    height: 28px;
}
.style .cabeza #buscar{
    display: block;
    position: relative;
    width: 150px;
    height: 25px;
}

.style .cabeza #buscar #search{
    position: absolute;
    background: #D9D9D9;
    width: 150px;
    height: 25px;
    border-radius: 22px;
    border-style: none;
    padding-left: 8px;
    
}


.style .cabeza #buscar #buscador{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
    border-radius: 0px 22px 22px 0px;
    background: #A3A3A3;
    opacity: 0.7;

}
.style .cabeza #buscar #buscador #lupita{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.style .cabeza #boton_inicio{
    display: inline-block;
}

.style .cabeza #boton_inicio #login{
    margin: 5px;
    max-width: 35px;
}
.Fondo{
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 85vh;
    
    
}
.Rectangulo{
    position: relative;
    background: #ffc300;
    height: 75vh;
    width: 1450px;
    border-radius: 38px;
    align-self: center;
}

#footer {
    background-color: #ffc300;
    height: 10vh;
}

.seguir_redes{
    color: black;
    margin-left: 5px;
    text-align: left;

}
.redes_sociales {
    display: flex;
    column-gap: 20px;
}
.iconos{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid  black; 
    transition-duration: .30s;
    margin: 5px;
    background-color: #000;
}

.iconos:hover {
    outline-offset: 4px;
}

.icon-instagram:hover {
    background-image:
    radial-gradient(circle at 30% 107%,
    #fdf497 0%, #fdf497 5%,#fd5949 45%,
    #d6249f 60%, #285AEB 90%);
    outline-color: #a02d76;
}
.icon-twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
.icon-facebook:hover{
    background-color: #285AEB;
    outline-color: #285AEB;
}
.icon-youtube:hover{
    background-color: rgb(255, 41, 41);
    outline-color: rgb(255, 41, 41);
}