*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

body{
    background-color: rgb(26, 25, 25);
}
.style{
    position: sticky;
    z-index: 150;
    top: 0;
}
.style .cabeza{
    background-color: #ffc300;
    height: 5vh;
    border: #ffc300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.style .cabeza #name{
    display: flex;
    align-content: center;
}

.style .cabeza #name #nombre{
    align-self: center;
    padding-left: 14px;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: bold;
    color: black;
    text-decoration: none;


}

.style .cabeza #name #oprimir_logo{
    display: flex;
}
.style #Logo{
    padding-left: 5px;
    height: 28px;
}

.style .cabeza #boton_inicio{
    display: inline-block;
}

.style .cabeza #boton_inicio #login{
    margin: 5px;
    max-width: 35px;
}


#titulo{
    color: #fff;
    margin-left: 15%;
    margin-top: 5%;
    margin-right: 15%;
    font-size: 50px;
}

#divisor_1{
    background: #fff;
}

#contenedor{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: space-between ;
}

#divisor_2{
    border-left: 2px solid #fff;
    height: 300px;
}

#datos{
    width: 50%;
    padding: 2%;
}

.datos_box{
    position: relative;
    float: right;
    margin-right: 20px;
    background: #D9D9D9;
    width: 150px;
    height: 25px;
    border-radius: 22px;
    border-style: none;
    padding-left: 8px;
}

#olvide_contraseña{
    width: 50%;
    padding: 2%;
    height: 100%;
}

#boton_contraseña{
    border-radius: 25px;
    background: #ffc300;
    height: 50%;
    width: 33%;
    cursor: pointer;
}



#divisor_3{
    background: #fff;
}

#historial{
    color: #fff;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 50px;
    height: 1920px;
}

#entrada{
    display: flex;
    background: #ffc300;
    height: 150px;
    width: 60%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2%;
    box-shadow: -10px 10px 13px rgba(255, 195, 0, 0.45);
    
}


#imagen_entrada{

}

#texto_entrada{
    padding-left: 2%;
    font-size: medium;
    color: black;
}

#texto_entrada_titulo{
    font-size: large;
}
#divisor_4{
    background: #000;
    height: 1px;
    border-style: none;
}