*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
   
    
}
body{
    background-color: #000;
}

/* Header */
.style{
    position: sticky;
    z-index: 150;
    top: 0;
}
.style .cabeza{
    background-color: #ffc300;
    height: 5vh;
    border: #ffc300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.style .cabeza #name{
    display: flex;
    align-content: center;
}

.style .cabeza #name #nombre{
    align-self: center;
    padding-left: 14px;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: bold;
    color: black;
    text-decoration: none;


}

.style .cabeza #name #oprimir_logo{
    display: flex;
}
.style #Logo{
    padding-left: 5px;
    height: 28px;
}

.style .cabeza #boton_inicio{
    display: inline-block;
}

.style .cabeza #boton_inicio #login{
    margin: 5px;
    max-width: 35px;
}

.Fondo{
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 85vh;
    
    
}

 /* Contenedor del medio amarillo */
.Rectangulo{
    display: flex;
    position: relative;
    background: #ffc300;
    height: 75vh;
    width: 1450px;
    border-radius: 38px;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
    box-shadow: -10px 10px 13px rgba(255, 195, 0, 0.45);
    
}

/* Contenedor de la habitacion y el finalice su compra */
#habitacion_finalizar{
    display: flex;
    justify-content: space-between;
    height: 70%;

}

/* Habitacion de pantalla y butacas */
#habitacion{
    display: flex;
    box-sizing: border-box;
    border: 6px solid black;
    border-radius: 25px;
    width: 50%;
    height: 88%;
    flex-direction: column;
    min-height: 333px;
    min-width: 446px;
}

#pantalla{
    margin-top: 2%;
    margin-bottom: 2%;
    align-self: center;
    background: #000;
    width: 90%;
    height: 10%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sillon{
    height: 35px;
    width: 35px;
    fill: #fff;
}
.sillon:hover{
    cursor: pointer;
    fill: grey;
}

#butacas{
    display: flex;
    justify-content: space-around;
    height: 90%;
}

#butacas_izq{
    display: flex;
    flex-wrap: wrap;
    max-width: 215px;
    max-height: max-content;
}
#butacas_der{
    display: flex;
    flex-wrap: wrap;
    max-width: 215px;
    max-height: max-content;
}


/* Finalizar su compra */

#habitacion_2{
    display: flex;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 25px;
    width: 27%;
    height: 100%;
    flex-direction: column;

}

#finalizar{
   width: 100%;
   height: 100%;
}
#finalizar_titulo{
    align-self: center;
    border: 1px solid black;
    background: #ffc300;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.compra_entrada{
    background: #000;
    color: #fff;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
  
}
#compra_entrada_ult{
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#estados_botones{
    display: flex;
    justify-content: space-between;
    height: 5%;

}

/* Contenedor de los estados de butacas */

#estados{
    justify-self: flex-start;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.cajas_estados{
    display: flex;
    align-items: center;
    gap: 6px;
}

#color_libre{
    background: #fff;
    height: 35px;
    width: 35px;
    border-radius: 10px;
}

#color_ocupado{
    background: red;
    height: 35px;
    width: 35px;
    border-radius: 10px;
}


#color_seleccionado{
    background: #000;
    height: 35px;
    width: 35px;
    border-radius: 10px;
}

/* Botones atras y continuar */
#botones{
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
#volver, #continuar{
    width: 200%;
    height: 300%;
    border-radius: 25px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #000;
    cursor: pointer;
}
#continuar{
    background: #ffc300;
    
}


#footer {
    background-color: #ffc300;
    height: 12vh;
}

.seguir_redes{
    color: black;
    margin-left: 5px;
    text-align: left;

}
.redes_sociales {
    display: flex;
    column-gap: 20px;
    margin-left: 5px;
}
.iconos{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid  #ffc300; 
    transition-duration: .30s;
    margin: 5px;
    background-color: #ffc300;
}

.iconos:hover {
    outline-offset: 4px;
}

.icon-instagram:hover {
    background-image:
    radial-gradient(circle at 30% 107%,
    #fdf497 0%, #fdf497 5%,#fd5949 45%,
    #d6249f 60%, #285AEB 90%);
    outline-color: #a02d76;
}
.icon-twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
.icon-facebook:hover{
    background-color: #285AEB;
    outline-color: #285AEB;
}
.icon-youtube:hover{
    background-color: rgb(255, 41, 41);
    outline-color: rgb(255, 41, 41);
}

/*Responsive*/
@media screen and (max-width:1000px) {
    
    .style .cabeza #name #nombre{
        display: none;
    }
    .style #oprimir_logo{
        height: 35px;
    }
    .style #Logo{
        margin: auto;
        height: 35px;
        padding-left: 2px;
        
    }


    #footer{
        text-align: center;
    }
    .seguir_redes{
        text-align: center;
    }
    .redes_sociales{
        justify-content: center;
    }
}