*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.body{
    background-color: rgb(26, 25, 25);
}
.style{
    position: sticky;
    z-index: 150;
    top: 0;
}
.style .cabeza{
    background-color: #ffc300;
    height: 5vh;
    border: #ffc300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.style .cabeza #name{
    display: flex;
    align-content: center;
}

.style .cabeza #name #nombre{
    align-self: center;
    padding-left: 14px;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: bold;
    color: black;
    text-decoration: none;


}

.style .cabeza #name #oprimir_logo{
    display: flex;
}
.style #Logo{
    padding-left: 5px;
    height: 28px;
}

.style .cabeza #boton_inicio{
    display: inline-block;
}

.style .cabeza #boton_inicio #login{
    margin: 5px;
    max-width: 35px;
}

.pelicula {
   height: 84vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.pelicula .peli {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    margin-top: 60px;
}
.pelicula .peli .image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pelicula .peli #imagen {
    height: 260px;
    width: 200px;    
}

.pelicula .peli .reloj {
    height: 40px;
    width: 40px;
}
.pelicula .peli #texto {
    font-size: 30px;
    color: rgb(76, 154, 173);

    
}
.pelicula .peli .sinopsis {
   height: 250px;
   width: 250px;
   background: rgb(83, 81, 81);
}

.pelicula .peli .sinopsis .descripcion  {
    color: white;
    padding: 10px;
    text-align: center;
}

.pelicula .peli .seleccion {
    display: flex;
    flex-direction: column;
    background: rgb(83, 81, 81);
    height: 225px;
    width: 350px;
}
.pelicula .peli .seleccion #text {
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.pelicula .peli .seleccion .salas {
    background-color: #fff;
    display: inline-flex;
    flex-direction: row;
    column-gap: 30px;
}
.pelicula .peli .seleccion .fondo {
    background-color: #05a1fc;
    padding: 10px 19.5px ;
    color: #fff;
    
}
.pelicula .peli .seleccion .salas .texto_1 {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    color: white;
    
}

.pelicula .peli .seleccion .formato {
    background-color: #fff;
    display: inline-flex;
    flex-direction: row;
    column-gap: 45px;

}
.pelicula .peli .seleccion .formato .fondo_1 {
    background-color: #05a1fc;
    padding: 10px 7.5px ;
    color: #fff;
}

.pelicula .peli .seleccion .idioma {
    background-color: #fff;
    display: inline-flex;
    flex-direction: row;
    column-gap: 10px;
}

.pelicula .peli .seleccion .idioma .fondo_2 {
    background-color: #05a1fc;
    padding: 10px 16px ;
    color: #fff;
} 

.pelicula .peli .seleccion .fecha{
    background-color: #fff;
    display: inline-flex;
    flex-direction: row;
    column-gap: 9px;
}
.pelicula .peli .seleccion .fecha .fondo_3 {
    background-color: #05a1fc;
    padding: 10px 14px ;
    color: #fff;
}

.pelicula .peli .seleccion .cines {
    background-color: #fff;
    display: inline;
    flex-direction: row;
    column-gap: 50px;
}

.pelicula .peli .seleccion .cines .fondo_4 {
    position: relative;
    display: inline-block;
    max-width: 350px;
}

.pelicula .peli .seleccion #btn_col1, #btn_col2, #btn_col3, #btn_col4,#btn_col5,#btn_col6,#btn_col7 {
    background-color: #fff;
    border: none;
}
.pelicula .peli .seleccion #btn_col1:hover, #btn_col2:hover, #btn_col3:hover, #btn_col4:hover, #btn_col5:hover, #btn_col6:hover, #btn_col7:hover {
    background-color: #05a1fc;
    cursor: pointer;
    border-radius: 12px;
    color: white;
}

.pelicula .peli .seleccion .cines .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 350px;
}
.pelicula .peli .seleccion .cines .flecha {
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
    right: -60px;
    filter: invert(100%);
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
    cursor: pointer;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 350px;;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}

.pelicula .trailer {
    display: flex;
    position: relative;
    width: 340px;
    height: 200px;
    margin-right: 145px;
    bottom: 60px;
}

#footer {
    background-color: #ffc300;
}

.seguir_redes{
    color: black;
    margin-left: 5px;
    text-align: left;

}
.redes_sociales {
    display: flex;
    column-gap: 20px;
    padding-top: 10px;
    margin-left: 10px;
    padding-bottom: 4px;
}
.iconos{
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid  #ffc300;
    transition-duration: .30s;
}
.iconos:hover {
    outline-offset: 4px;
}

.icon-instagram:hover {
    background-image:
    radial-gradient(circle at 30% 107%,
    #fdf497 0%, #fdf497 5%,#fd5949 45%,
    #d6249f 60%, #285AEB 90%);
    outline-color: #a02d76;
}
.icon-twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
.icon-facebook:hover{
    background-color: #285AEB;
    outline-color: #285AEB;
}
.icon-youtube:hover{
    background-color: rgb(255, 41, 41);
    outline-color: rgb(255, 41, 41);
}


/*Responsive*/
@media screen and (max-width:1000px) {
    
    .style .cabeza #name #nombre{
        display: none;
    }
    .style #oprimir_logo{
        height: 35px;
    }
    .style #Logo{
        margin: auto;
        height: 35px;
        padding-left: 2px;
        
    }
    .inicio{
        justify-content: center;
    }
    .inicio #marca{
        display: none;
    }
    .inicio .contenedor{
        margin: auto;
    }
    .inicio .contenedor .form{
        text-align: center;
        
        
    }
    .inicio .contenedor .form #mail, #contraseña{
        width: 200px;
        margin: auto;
    }
    .inicio .contenedor .form .boton_check{
        margin: auto;
    }
    .inicio .contenedor .form #Enviar{
        top: 10px;
        margin-left: 0px;
        width: 240px;
    }
    #footer{
        text-align: center;
    }
    .seguir_redes{
        text-align: center;
    }
    .redes_sociales{
        justify-content: center;
    
    }
    .pelicula {
        justify-content: center;
        margin-top: 50px;
        height: auto; 
    }
    .pelicula .peli{
       justify-content: center;
       margin-top: 10px;
            
    }
    .pelicula .peli .image{
        width: auto;
        height: auto;
    }
    .pelicula .peli .image #imagen {
        width: 300px;
        height: 400px;
    }
    .pelicula .peli .sinopsis {
        margin: 20px;
        width: 90%;
    }
    .pelicula .peli .seleccion {
        width: 90%;
    }
    .pelicula .peli .seleccion .salas {
        column-gap: 20%;
    }

    .pelicula .peli .seleccion .formato {
        column-gap: 23.5%;
    }

    .pelicula .peli .seleccion .idioma {
        column-gap: 10%;
    }
    .pelicula .peli .seleccion .idioma .botones_2 {
        font-size: 85%;
    }

    .pelicula .peli .seleccion .fecha {
        column-gap: 9%;
    }

    .pelicula .peli .seleccion .fecha .botones_1 {
        font-size: 80%;
    }

    .pelicula .trailer {
        justify-content: center;
        left: 20%;
        width: 50%;
        margin-top: 100px;
        width: 80%;
        margin-right: 140px;
    }
    .pelicula .peli .seleccion .cines .flecha{
       right: -45px;
    }
    .pelicula .peli .seleccion .cines .dropbtn {
        width: 325px;
    }
}
